
<Directory /usr/local/src/mindie-client/indieauth-client-php/ >
	AuthType None
	<RequireAll>
		Require all granted
	</RequireAll>
</Directory>
<Files /usr/local/src/mindie-client/client_id.json.php >
	AuthType None
	<RequireAll>
		Require all granted
	</RequireAll>
</Files>

AliasMatch ^/oauth/index$ /usr/local/src/mindie-client/indieauth-client-php/index.php
AliasMatch ^/oauth/login$ /usr/local/src/mindie-client/indieauth-client-php/login.php
AliasMatch ^/oauth/redirect$ /usr/local/src/mindie-client/indieauth-client-php/redirect.php
AliasMatch ^/oauth/oauth-client-server$ /usr/local/src/mindie-client/client_id.json.php
<Location /oauth/>
	SetEnv CLIENT_PATH oauth
	SetEnv CLIENT_SCOPE "profile oauth"
	SetEnv CLIENT_FILESYSTEM_PATH /filesystem/path/to/client/
	SetEnv CLIENT_NAME "Hello OAuth"
	SetEnv CLIENT_HOME example
</Location>
<Location /oauth/content/>
# Alternatively
# <Location /oauth/>
	AuthType oauth2
	AuthName "Hello OAuth"
	ErrorDocument 401 /oauth/index
	OAuth2AcceptTokenIn header
	OAuth2AcceptTokenIn cookie name=oauth_token
	<RequireAll>
		Require valid-user
	</RequireAll>
</Location>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
